body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
    background: #05742600; -ms-grid-column-align: center;
    color: #333;
    text-align: center;
}

header {
    background: #ca6009;
    color: rgb(13, 3, 15);
    text-align: center;
    padding: 20px;
    border: rgb(223, 11, 11);
    
}

nav ul {
    display: flex;
    justify-content: center;
    background: #750505;
    list-style: none;
    padding: 10px;
    color: rgb(205, 240, 8);
    text-decoration: none;

}

nav ul li a {
    color: rgb(28, 61, 14);
    margin: 0 20px;
    text-decoration: rgb(204, 153, 22);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--tech-blue);

}

section {
    padding: 30px;
    align-content: space-between;
    border: #333;

}

.formations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 8px;
    

}

.card {
    border: none
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100;
    border-radius: 15px;
    display: block;
    box-shadow: 0 6px rgb(0, 0, 0, 0.15);

}

form {
    max-width: 500px;
    background: rgb(112, 161, 139);
    margin: auto;
    padding: 30px;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

label {
    display: block;
    margin-top: 10px;
}

input, select, textarea, button {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid darkgoldenrod;

}

footer {
    text-align: center;
    background: #22a8e6;
    color: rgba(12, 52, 112, 0.959);
    padding: 15px;
}

main {
    text-transform: lowercases;
    background-image: -webkit-repeating-radial-gradient(12, font-family);
    background: -moz-element(100px);
    padding: inherit;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #00000000;
    box-shadow: 0 4px 10px rgb(0, 0, 0.2);
}

.card p {
    background-color: #bd88a0;
    padding: 10px;
    border-radius: 8px;
    color: hwb(0 0% 100%);
}

.logo {
    width: 300px;
    height: 300px;
}